@use "styles/mixins" as m;

.app-alerts {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  right: 0;
  width: 30%; /* TODO: Update for mobile */
  @include m.spacing("gy", "xs");
  @include m.spacing("mb", "xs");
}

.alert-enter-from, .alert-leave-to {
  transform: translateY(30px);
  opacity: 0;
}
.alert-move,
.alert-enter-active,
.alert-leave-active {
  transition: all 0.5s ease;
}

.alert-leave-active {
  position: fixed;
  width: 30%; /* TODO: Update for mobile */
}