@use "sass:map";

@use "variables" as v;

@mixin spacing($type: "p", $size: "md") {
  $size-map: map.get(
    $map: v.$spacing,
    $key: $size,
  );

  $prop: map.get(
    $map: v.$space-map,
    $key: $type,
  );
  @each $p in $prop {
    @each $bp, $size in $size-map {
      @include breakpoint($bp) {
        #{$p}: $size;
      }
    }
  }
}

@mixin breakpoint($bp: "md", $type: "min") {
  @if $type == "min" {
    @media (min-width: (map.get(v.$breakpoints, $bp) * 1px)) {
      @content;
    }
  } @else {
    @media (max-width: (map.get(v.$breakpoints, $bp) * 1px)) {
      @content;
    }
  }
}
