@use "variables" as v;
@use "mixins" as m;

.page {
  max-width: map-get(v.$breakpoints, xl) * 1px;
  margin: 0 auto;

  &--fluid {
    margin: 0;
    max-width: 100%;
  }
}

.content {
  padding: 4%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  column-gap: v.$cols-horizontal-gap;
  @include m.spacing("gy", "xs");
  &.wide-gap {
    column-gap: v.$cols-horizontal-gap-wide;
  }
}

.center-screen {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@include m.create-cols(null, v.$grid-cols-count);

@each $breakpoint-name, $width in v.$breakpoints {
  @media screen and (min-width: $width * 1px) {
    @include m.create-cols($breakpoint-name, v.$grid-cols-count);
  }
}

