@use "sass:map";

// COLOURS //
:root {
  --theme-color-primary: #e0994c;
  --theme-color-active: #b97c3b;
  --theme-body-background-color: #f9f5ed;
  --theme-body-accent-color: #f9e7d5;
  --theme-body-overlay-color: #fffbf3;
  --theme-font-color: #000000;
  --theme-font-color-muted: #737373;
  --theme-input-background-color: #fff;
  --theme-link-color: #1b547a;

  --theme-border-primary: 2px solid var(--theme-color-primary);
}
@media (prefers-color-scheme: dark) {
  :root {
    --theme-color-primary: #bd8344;
    --theme-color-active: #9f6a31;
    --theme-body-background-color: #2d241d;
    --theme-body-accent-color: #533b2d;
    --theme-body-overlay-color: #684c3d;
    --theme-font-color: #f2f2f2;
    --theme-font-color-muted: #999;
    --theme-input-background-color: #4a403a;
    --theme-link-color: #84ecff;

    --theme-border-primary: 2px solid var(--theme-color-primary);
  }
}

// BREAKPOINTS //
$breakpoints: (
  min: 0,
  xs: 320,
  sm: 480,
  md: 720,
  lg: 992,
  xl: 1400,
) !default;
$breakpoint-min: map.get($breakpoints, "xs");
$breakpoint-max: map.get($breakpoints, "xl");

$grid-cols-count: 12;

// TYPOGRAPHY //
$font-family-headers: "Inter", "Helvetica", sans-serif;
$font-family-paragraph: "Inter", "Helvetica", sans-serif;

$line-height: 1.4;

$font-weight-regular: 400;
$font-weight-bold: 600;

$font-sizes: (
  html: (
    font-size-min: 16,
    font-size-max: 18,
  ),
  input: (
    font-size-min: 16,
    font-size-max: 18,
  ),
  button: (
    font-size-min: 16,
    font-size-max: 18,
  ),
  h1: (
    font-size-min: 30,
    font-size-max: 48,
  ),
  h2: (
    font-size-min: 26,
    font-size-max: 36,
  ),
  h3: (
    font-size-min: 20,
    font-size-max: 26,
  ),
  h4: (
    font-size-min: 16,
    font-size-max: 20,
  ),
  h5: (
    font-size-min: 16,
    font-size-max: 20,
  ),
  h6: (
    font-size-min: 16,
    font-size-max: 20,
  ),
  small: (
    font-size-min: 14,
    font-size-max: 15,
  ),
);

// SPACING //
$spacing-large: (
  min: 32px,
  xs: 56px,
  md: 72px,
  xl: 96px,
);

$spacing-medium: (
  min: 24px,
  xs: 32px,
  md: 40px,
  xl: 48px,
);

$spacing-small: (
  min: 18px,
  xs: 24px,
  md: 28px,
  xl: 32px,
);

$spacing-xsmall: (
  min: 8px,
  xs: 12px,
  md: 14px,
  xl: 16px,
);

$spacing-extrasmall: (
  min: 4px,
  xs: 6px,
  md: 6px,
  xl: 8px,
);

$spacing: (
  "lg": $spacing-large,
  "md": $spacing-medium,
  "sm": $spacing-small,
  "xs": $spacing-xsmall,
  "xxs": $spacing-extrasmall,
);

$space-map: (
  "p": "padding",
  "pl": "padding-left",
  "pr": "padding-right",
  "pb": "padding-bottom",
  "pt": "padding-top",
  "px": (
    "padding-left",
    "padding-right",
  ),
  "py": (
    "padding-top",
    "padding-bottom",
  ),
  "m": "margin",
  "ml": "margin-left",
  "mr": "margin-right",
  "mb": "margin-bottom",
  "mt": "margin-top",
  "mx": (
    "margin-left",
    "margin-right",
  ),
  "my": (
    "margin-top",
    "margin-bottom",
  ),
  "g": "gap",
  "gx": "column-gap",
  "gy": "row-gap",
);

$cols-horizontal-gap: 24px;
$cols-horizontal-gap-wide: 80px;
$li-margin-bottom: 16px;

$header-margin-bottom: 16px;
$paragraph-margin-top: 16px;
$paragraph-margin-bottom: 16px;

// BORDERS //
$border-radius-sm: 6px;
$border-radius-md: 10px;

// SIZING //
$min-width-button: 84px;

$preview-max-width: 260px;
$preview-min-width: 120px;
