// COLOURS //
$colour-bg: #f7f2e9;
$colour-primary: #f3e7d7;
$colour-accent: #e0994c;
$colour-active: #e0994c;

$colour-text: black;
$colour-muted: #b5b3b3;
$colour-font-grey: #525252;
$colour-font-muted: #868686;

// BREAKPOINTS //
$breakpoints: (
  xs: 320,
  sm: 480,
  md: 768,
  lg: 992,
  xl: 1200,
) !default;
$breakpoint-min: map-get($breakpoints, "xs");
$breakpoint-max: map-get($breakpoints, "xl");

$grid-cols-count: 12;

// TYPOGRAPHY //
$font-family-headers: "Inter", "Helvetica", sans-serif;
$font-family-paragraph: "Inter", "Helvetica", sans-serif;
$font-family-paragraph-alt: "Inter", "Helvetica", sans-serif;

$line-height: 1.6em;

$font-sizes: (
  h1: (font-size-min: 30, font-size-max: 48),
  h2: (font-size-min: 24, font-size-max: 32),
  h3: (font-size-min: 20, font-size-max: 26),
  h4: (font-size-min: 16, font-size-max: 20),
  h5: (font-size-min: 16, font-size-max: 20),
  h6: (font-size-min: 16, font-size-max: 20),
  body: (font-size-min: 16, font-size-max: 16),
  small: (font-size-min: 12, font-size-max: 12)
);

// SPACING //
$spacing-large: (
  xs: 56px,
  md: 72px,
  xl: 96px
);

$spacing-medium: (
  xs: 32px,
  md: 40px,
  xl: 48px
);

$spacing-small: (
  xs: 24px,
  md: 28px,
  xl: 32px
);

$spacing-xsmall: (
  xs: 12px,
  md: 14px,
  xl: 16px
);

$spacing-extrasmall: (
  xs: 6px,
  md: 6px,
  xl: 8px
);

$spacing: (
  "lg": $spacing-large,
  "md": $spacing-medium,
  "sm": $spacing-small,
  "xs": $spacing-xsmall,
  "xxs": $spacing-extrasmall
);

$space-map: (
  "p": "padding",
  "pl": "padding-left",
  "pr": "padding-right",
  "pb": "padding-bottom",
  "pt": "padding-top",
  "px": ("padding-left", "padding-right"),
  "py": ("padding-top", "padding-bottom"),
  "m": "margin",
  "ml": "margin-left",
  "mr": "margin-right",
  "mb": "margin-bottom",
  "mt": "margin-top",
  "mx": ("margin-left", "margin-right"),
  "my": ("margin-top", "margin-bottom"),
  "g": "gap",
  "gx": "column-gap",
  "gy": "row-gap"
);

$cols-horizontal-gap: 24px;
$cols-horizontal-gap-wide: 80px;
$li-margin-bottom: 16px;

$paragraph-margin-top: 16px;
$paragraph-margin-bottom: 16px;

// BORDERS //
$border-radius-sm: 4px;
$border-radius-md: 10px;
$border-accent: 2px solid $colour-accent;
$border-outline: 2px solid $colour-muted;

// SIZING
$min-width-button: 84px;

$preview-max-width: 260px;
$preview-min-width: 120px;