@use "mixins" as m;
@use "variables" as v;
@use "index";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap'); // Inter

html {
  background: v.$colour-bg;
}
body {
  margin: 0; // Unset browser margin
  font-family: v.$font-family-paragraph;
}

html, body {
  height: 100%;
}

@each $key, $value in v.$font-sizes {
  #{$key} {
    @include m.responsive-text(map-get($value, font-size-min), map-get($value, font-size-max), v.$breakpoint-min, v.$breakpoint-max)
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: v.$font-family-headers;
  margin: 0 0 16px 0;
}

p {
  margin-top: v.$paragraph-margin-top;
  margin-bottom: v.$paragraph-margin-bottom;
}

b {
  font-weight: 900;
}

small {
  margin-top: 0;
}

ul {
  margin: 0;
}

li:not(:last-child) {
  margin-bottom: v.$li-margin-bottom;
}

a {
  text-decoration: none;
  color: v.$colour-text;
  &:hover {
    text-decoration: underline;
  }
}

img {
  width: 100%;
  height: auto;
}

.control {
  &.large {
    .control__label {
      font-size: #{map-get(map-get(v.$font-sizes, body), font-size-max)}px;
    }
  }
}

.text-muted {
  color: v.$colour-font-muted;
}
.text-grey {
  color: v.$colour-font-grey;
}