.DS_Store
node_modules
bin
obj

# Local env files
.env.local
.env.*.local
chunk-sizes.html
website/.dev.vars

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

