.app-alerts {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%; /* TODO: Update for mobile */
}

.alert-enter {
  transform: translateY(30px);
}
.alert-move,
.alert-enter-active,
.alert-leave-active {
  transition: all 0.5s ease;
}
.alert-leave-to {
  opacity: 0;
}
.alert-leave-active {
  position: absolute;
}