@use "mixins" as m;

.editor {
  &__header {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  &__controls {
    display: flex;
    flex: 1;
    justify-content: end;
    @include m.spacing("gx", "xs");
    @include m.breakpoint("md", "max") {
      display: none;
    }
  }
  &__delete {
    margin-left: auto;
  }
  &__body {
    > form {
      display: flex;
      flex-direction: column;
      @include m.spacing("gy", "xs");
    }
    .n-card-header {
      button {
        align-self: start;
        padding-right: 0;
      }
    }
    @include m.breakpoint("md", "max") {
      // Ghost components to create new row is not displayed on mobile because of size constraints
      // Instead, a button to add new items is used
      .ghost {
        display: none;
      }
    }
    .list-item {
      position: relative;
      &:first-child {
        .list-item__close {
          align-self: center;
        }
      }
      @include m.breakpoint("md", "max") {
        &:not(:last-child) {
          border-bottom: 1px solid var(--n-border-color);
          @include m.spacing("mb", "sm");
        }
        &__close {
          position: absolute;
          top: 0;
          right: 0;
          padding-right: 0;
          @include m.spacing("pb", "sm");
        }
      }
    }
    // Hide subsequent item labels on large screen sizes since they waste vertical space
    @include m.breakpoint("md") {
      .list-item:not(:first-child) {
        .n-form-item-label {
          display: none;
        }
      }
    }
  }
  &__add-section {
    height: 100px;
  }
}