@use "variables";

label {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: text;
}
input, textarea {
  position: relative;
  outline: none;
  overflow: hidden;
  width: 100%;
}

textarea {
  box-sizing: border-box;
  height: auto;
  resize: none;
}

.form-input-container {
  position: relative;
  margin-bottom: 12px;
  padding: 12px 0;
}
.form-input {
  display: flex;
  position: relative;
  align-items: center;
  padding: variables.$padding-input;
  background-color: variables.$colour-input;
  border-radius: variables.$border-radius;
  border: solid variables.$colour-bg-light 2px;
  &__error {
    @extend .form-input;
    border: solid variables.$colour-error 2px;
    color: variables.$colour-error;
    > span {
      color: variables.$colour-error;
    }
  }
  &-prefix {
    position: absolute;
    left: 8px;
  }
  > label, textarea {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
  }
  &-suffix-icon {
    cursor: pointer;
    &__disabled {
      cursor: auto;
      opacity: 0.5;
    }
  }
}
.form-input-field {
  position: relative;
  min-width: 80px;
}

.form-combo-box {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;

  &-icon {
    // TODO: Rework this class, only needed while using vuetify
    position: absolute !important;
    right: 8px;
  }
}

.form-button {
  padding: 4px 24px;
  border-radius: 32px;
  border: solid transparent 3px;
  &__primary {
    color: white;
    background: variables.$colour-primary;
    transition: border-color 150ms ease;
    &:hover {
      opacity: 1;
      border-color: variables.$colour-primary-active;
    }
  }
  &__disabled {
    background: variables.$colour-disabled;
  }
}

.form-validation-message {
  position: relative;
  margin-top: 4px;
  padding-left: variables.$padding-input;
}

.form-dropdown-container {
  background: variables.$colour-input;
  z-index: 2;
  position: absolute;
  left: 0;
  top: calc(100% + 8px);
  width: 100%;
  border: solid variables.$colour-bg-light 2px;
  border-radius: variables.$border-radius;
  box-shadow: 0 10px 20px -20px rgba(0,0,0,1);
}
.form-dropdown-item {
  padding: 8px 8px;
  color: black; // TODO: Dark theme
  cursor: pointer;
  &:hover {
    background: variables.$colour-bg-light;
  }
}

.form-chip-container {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  max-width: 90%;
  flex-wrap: wrap;
  > label > input {
    padding: 0;
  }
}
.form-chip {
  display: flex;
  align-items: center;
  gap: 8px;
  background: variables.$colour-primary-light;
  color: variables.$colour-primary;
  margin: 4px 8px 4px 0;
  padding: 4px 8px;
  border-radius: 8px;
  cursor: pointer;
  > span {
    user-select: none;
  }
  &:hover {
    background: variables.$colour-primary-light-highlight;
  }
  &__active, &__active:hover {
    background: variables.$colour-primary-light-active;
  }
}

.form-rating {
  display: inline-flex;
  > svg {
    padding: 0 4px;
    color: variables.$colour-primary;
  }
}