@mixin responsive-text($font-min, $font-max, $screen-min, $screen-max) {
  font-size: #{$font-min}px;

  @media only screen and (min-width: #{$screen-min}px) {
    font-size: calc(#{$font-min}px + #{($font-max - $font-min)} * (100vw - #{$screen-min}px) / (#{$screen-max} - #{$screen-min}));
  };

  @media only screen and (min-width: #{$screen-max}px) {
    font-size: #{$font-max}px;
  }
}

@mixin create-cols($breakpoint-name, $cols-count) {
  $infix: if($breakpoint-name == null, '', "-#{$breakpoint-name}");

  @for $i from 1 through $cols-count {
    .col#{$infix}-#{$i} {
      flex-basis: (100 / ($cols-count / $i)) * 1%;
    }
  }
}