// COLOURS //
$bg-light: #f0f0f0;
$bg-grey-light: #ededed;

// TYPOGRAPHY //
$font-family-headers: "Montserrat", "Helvetica", sans-serif;
$font-family-paragraph: "Inter", "Helvetica", sans-serif;
$font-family-paragraph-alt: "Work Sans", "Helvetica", sans-serif;

// SPACING //
$padding: 12px;