// COLOURS //
$colour-bg-light: #f0f0f0;
$colour-bg-grey-light: #ededed;
$colour-font-muted: #999;

// TYPOGRAPHY //
$font-family-headers: "Montserrat", "Helvetica", sans-serif;
$font-family-paragraph: "Inter", "Helvetica", sans-serif;
$font-family-paragraph-alt: "Work Sans", "Helvetica", sans-serif;

// SPACING //
$padding: 12px;