// COLOURS //
$colour-bg: #F9F9F9;
$colour-bg-light: #e6e6e6;
$colour-bg-grey-light: #fafafa;
$colour-font-muted: #7d7d7d;
$colour-primary: #4B749B;
$colour-primary-light: #E3ECF3;
$colour-primary-active: #5faae3;
$colour-disabled: #999;
$colour-error: #ff0000;
$colour-input: white;

// BREAKPOINTS //
$breakpoints: (
        "xs": 320,
        "sm": 480,
        "md": 768,
        "lg": 992,
        "xl": 1200,
) !default;
$breakpoint-min: map-get($breakpoints, "xs");
$breakpoint-max: map-get($breakpoints, "xl");

// TYPOGRAPHY //
$font-family-headers: "Montserrat", "Helvetica", sans-serif;
$font-family-paragraph: "Inter", "Helvetica", sans-serif;
$font-family-paragraph-alt: "Work Sans", "Helvetica", sans-serif;

$font-sizes: (
        h1: (font-size-min: 30, font-size-max: 48),
        h2: (font-size-min: 24, font-size-max: 32),
        h3: (font-size-min: 20, font-size-max: 28),
        h4: (font-size-min: 18, font-size-max: 24),
        h5: (font-size-min: 16, font-size-max: 20),
        h6: (font-size-min: 16, font-size-max: 20),
        small: (font-size-min: 12, font-size-max: 12)
);

// SPACING //
$padding: 12px;
$li-margin-bottom: 8px;

// ROUNDING //
$border-radius: 10px;