@use "mixins" as mixins;
@use "variables";
@use "form";
@use "alerts";
@use "layout";

// TODO: Combine into single import
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap'); // Montserrat
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap'); // Inter
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap'); // Work Sans

#app { // TODO: Target html element when vuetify is removed
  background: variables.$colour-bg;
}

@each $key, $value in variables.$font-sizes {
  #{$key} {
    @include mixins.responsive-text(map-get($value, font-size-min), map-get($value, font-size-max), variables.$breakpoint-min, variables.$breakpoint-max)
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: variables.$font-family-headers;
}

p, span, small {
  font-family: variables.$font-family-paragraph;
}
small {
  line-height: 0;
}

li:not(:last-child) {
  margin-bottom: variables.$li-margin-bottom;
}

img {
  max-width: 100%;
}

.text-muted {
  font-style: italic;
  color: variables.$colour-font-muted;
}