@use "mixins" as m;
@use "variables" as v;
@use "index";

// TODO: Combine into single import
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); // Open Sans
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap'); // Inter
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap'); // Work Sans

#app { // TODO: Target html element when vuetify is removed
  background: v.$colour-bg;
}

@each $key, $value in v.$font-sizes {
  #{$key} {
    @include m.responsive-text(map-get($value, font-size-min), map-get($value, font-size-max), v.$breakpoint-min, v.$breakpoint-max)
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: v.$font-family-headers;
  margin: 0;
}

p, span, small, input {
  font-family: v.$font-family-paragraph;
}
small {
  line-height: 0;
}

li:not(:last-child) {
  margin-bottom: v.$li-margin-bottom;
}

img {
  max-width: 100%;
}

.text-muted {
  font-style: italic;
  color: v.$colour-font-muted;
}