CRM_URL=CRM_URL # The base URL of the Directus CMS instance
WEBSITE_URL=WEBSITE_URL # The URL of the deployed website
CF_ACCESS_CLIENT_ID=CF_ACCESS_CLIENT_ID # The cloudflare access client ID
CF_ACCESS_CLIENT_SECRET=CF_ACCESS_CLIENT_SECRET # The cloudflare access client secret
CLOUDINARY_API_KEY=CLOUDINARY_API_KEY # The cloudinary image transformation API key
CLOUDINARY_CLOUD_NAME=CLOUDINARY_CLOUD_NAME # The id of the cloudinary account
CLOUDINARY_IMAGE_FOLDER=CLOUDINARY_IMAGE_FOLDER # The name of the folder within cloudinary that images are stored