# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist
.wrangler
public/search-index.json
stats.html

# Node dependencies
node_modules
.pnp.cjs

# Yarn 3 files
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
